.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F7F7FF;
}

.login-logo {
    margin-bottom: 20px;
    color: #3F826D;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.login-form label {
    margin-top: 10px;
    font-weight: bold;
    color: #545E75
}

.login-form button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #C03221;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #A52A1A;
}